main{ 
    height: 700px;
    background-color: #FFFFFF;
    padding: 50px; 
    box-shadow: 0 0 2px #808080;
} 
.profile-container{
    padding-left: 10rem;
    padding-right: 10rem;
}

main .account-page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
main .account-page .profile-section{
    width: 30%;
}
main .account-page .profile-section .profile-detail{
    width: 140px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    overflow: none;
}
main .account-page .profile-section .profile-detail img{
    width: 100%;
    height: 140px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #888888;
}
main .account-page .profile-section .profile-detail h2{
    color: #2F4F4F;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
main .account-page .profile-section ul{
    list-style: none;
    padding: 10px;
}
main .account-page .profile-section ul li{
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
}
main .account-page .profile-section ul li a{
    color: rgb(36, 35, 35);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(236, 240, 241,0.3);
    text-align: left;
    padding: 5px 8px;
    display: block;
}
main .account-page .profile-section ul li a span{
    float: right;
}
.active,
main .account-page .profile-section ul li a:hover{
    color: #fff;
    background-color: #ff3838;
}
main .account-page .profile-section ul .stop-btn{
    text-decoration: none;
    background: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(36, 35, 35);
    text-transform: uppercase;
    border: 1px solid rgba(236, 240, 241,0.3);
    text-align: left;
    padding: 5px 8px;
    display: block;
    width: 100%
}
main .account-page .profile-section ul button span{
    float: right;
}
.active,
main .account-page .profile-section ul .stop-btn:hover{
    color: #fff;
    background-color: #ff3838;
}


main .account-page .account-detail{
    width: 60%;
}
main .account-page .account-detail input[type="submit"]{
    color: #fff;
    background-color: #ff3838;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px 8px;
    margin-top: 20px;
    display: block;
    border: none;
}
main .account-page .account-detail input[type="submit"]:hover{
    background-color: #ec7474;

}

